<h3>EditPassword</h3>






<form class="row g-3" style="width: 300px" asp-controller="User" asp-action="ConvertPassword">
    <input name="password" class="form-control" type="text" placeholder="parol" />
    <button class="link-danger" type="submit">Sing Up</button>
</form>
