<h3>EditUserName</h3>



<form class="row g-3" style="width: 300px" asp-controller="User" asp-action="ConvertUserName">
    <input name="UserName" class="form-control" type="text" placeholder="Username" />
    <button class="link-danger" type="submit">Sing Up</button>
</form>
